[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "reveal.js-plugins"]
	path = reveal.js-plugins
	url = https://github.com/rajgoel/reveal.js-plugins.git
[submodule "reveal.js-menu"]
	path = reveal.js-menu
	url = https://github.com/denehyg/reveal.js-menu.git
[submodule "MathJax"]
	path = MathJax
	url = https://github.com/mathjax/MathJax.git
[submodule "piklor.js"]
	path = piklor.js
	url = https://github.com/jillix/piklor.js.git
[submodule "qrcodejs"]
	path = qrcodejs
	url = https://github.com/davidshimjs/qrcodejs.git
[submodule "reveal.js-d3"]
	path = reveal.js-d3
	url = https://github.com/gcalmettes/reveal.js-d3
